<template name="join">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Inscription.</h1>
        <p class="subtitle-auth" >Inscrivez vous pour créer vos listes privées</p>

        <form>
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          <div class="input-symbol  {{errorClass 'email'}}">
            <input type="email" name="email" placeholder="Votre Email" />
            <span class="icon-email" title="Your Email"></span>
          </div>

          <div class="input-symbol  {{errorClass 'password'}}">
            <input type="password" name="password" placeholder="Mot de passe" />
            <span class="icon-lock" title="Password"></span>
          </div>

          <div class="input-symbol {{errorClass 'confirm'}}">
            <input type="password" name="confirm" placeholder="Confirmer mot de passe" />
            <span class="icon-lock" title="Confirm Password"></span>
          </div>

          <button type="submit" class="btn-primary">S'inscrire</button>
        </form>
      </div>

      <a href="{{pathFor 'signin'}}" class="link-auth-alt">Vous avez déjà un compte ? S'inscrire</a>
    </div>
  </div>
</template>
